Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:Liberation Mono:size=13
URxvt.letterSpace: -1

URxvt.perl-ext-common: default,matcher,tabbed

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!URxvt*background:black
!URxvt*foreground:white
URxvt*reverseVideo:true

! blue
! URxvt*color4:  #7979ff
! bright blue
URxvt*color12: #9898ff
! bright red
! URxvt*color9:  #ff8000
! dark red / now orange
URxvt*color1: #ff8000
