Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!URxvt.font: xft:Liberation Mono:size=13,xft:Source Code Pro,xft:Symbola,xft:Noto Mono,xft:DejaVu Sans Mono
URxvt.font: xft:Terminus:size=16:bold
!URxvt.font: 9x15bold,-misc-fixed-bold-r-normal--15-140-75-75-c-90-iso10646-1,-misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1,[codeset=JISX0208]xft:Kochi Gothic:antialias=false,xft:Symbola:antialias=false
!URxvt.font: -*-terminus-*-r-normal-*-20-*-*-*-*-*-iso10646-*, \

URxvt.letterSpace: 0

!!! tabbed
URxvt.perl-ext-common: default,matcher
!!!

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!URxvt*background:black
!URxvt*foreground:white
URxvt*reverseVideo:true

URxvt*color0: #000000
URxvt*color7: #ffffff
! blue
! URxvt*color4:  #7979ff
! bright blue
URxvt*color12: #9898ff
! bright red
! URxvt*color9:  #ff8000
! dark red / now orange
URxvt*color1: #ff8000

XTerm.vt100.renderfont: true
XTerm.vt100.faceName: Liberation Mono:size=12:antialias=true
XTerm.vt100.reverseVideo: on
XTerm.vt100.saveLines: 5000
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
XTerm.vt100.color12: #9898ff
XTerm.vt100.color1: #ff8000
XTerm.vt100.metaSendsEscape: true
